cmake_minimum_required(VERSION 3.10)
project(jbi_editor)

set(CMAKE_PREFIX_PATH "g:\\Qt\\5.9.8\\msvc2017_32\\")
#set(CMAKE_PREFIX_PATH "G:\\Qt\\5.12.2\\msvc2017\\")
#set(CMAKE_PREFIX_PATH "G:\\Qt\\5.12.2\\mingw73_64\\lib\\cmake\\")

set(CMAKE_INCLUDE_CURRENT_DIR ON)
set(CMAKE_AUTOMOC ON)
set(CMAKE_AUTORCC ON)
set(CMAKE_AUTOUIC ON)
#set(CMAKE_CXX_FLAGS "-fpermissive")
if(CMAKE_CXX_COMPILER_ID MATCHES "GNU|Clang")
    set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fpermissive -std=c++11")
endif()
#add_compile_options(-std=c++0x)
#add_compile_options(-fpermissive)

find_package(Qt5 REQUIRED COMPONENTS Core Widgets Gui Sql Xml)
include_directories(
        include/
      ${QT_INCLUDES}
)
#qt5_wrap_cpp(SOURCES include/settings.hpp)
add_executable(jbi_editor
        src/main.cpp
        ${SOURCES})

set(CMAKE_CXX_STANDARD 17)

target_link_libraries(${PROJECT_NAME} Qt5::Core Qt5::Widgets Qt5::Gui Qt5::Sql Qt5::Xml)

